<!-- <h1>{{title}}</h1> -->
<button routerLink = "rectangle" id="">START</button>
-
<button routerLink="rectangle" id="btn1">Delete Text</button>
-
<button routerLink="rectangle" id="btn2">Import Text</button>
-
<button routerLink="rectangle" id="twoDimension">2D</button>
<>
<button routerLink="rectangle" id="threeDimension">3D</button>
<>
<button routerLink="rectangle" id="Editable">Edit On</button>
<>
<button routerLink="rectangle" id="EditableOff">Reload</button>
<>
<button routerLink="rectangle" id="SlidingLeft">Sliding Left</button>
<>
<button routerLink="rectangle" id="SlidingRight">Sliding Right</button>
<>
<button routerLink="rectangle" id="CasementPlus">Casement</button>

<!-- <label for="cars" routerLink="rectangle">CHoose a Color</label>
<select name="colors" id="colors">
  <option routerlink = "rectangle" id="White">White</option>
  <option id="LightBrown">Light Brown</option>
  <option id="DarkBrown">Dark Brown</option>
  <option id="Texture">Textured</option>
</select> -->
<router-outlet></router-outlet>
<canvas></canvas>