
<!-- <button (click) = "Twodim()">2D</button> -->


<!-- <button (click)="">Reload</button> -->
<button (click)="WhiteColor()">White</button>
<button (click)="LightBrownColor()">Test</button>
<button (click)="DarkBrownColor()">Test</button>
<button (click)="helloabcd()">Test</button>
<button (click) = "Textures1()">Tex-1</button>
<button (click) = "Textures2()">Tex-2</button>
<button (click) = "Textures3()">Tex-3</button>
<button (click) = "Textures4()">Tex-4</button>
<button (click) = "Textures5()">Tex-5</button>

<canvas #canvas id="canvas" type="text/html">
    <!-- <p id="win">Window</p>  -->
</canvas>