
<!-- <button (click) = "Twodim()">2D</button> -->


<!-- <button (click)="">Reload</button> -->
-<button (click)="WhiteColor()">White</button> -
<button (click)="LightBrownColor()">LIght Brown</button>-
<button (click)="DarkBrownColor()">Dark Brown</button>-
<button (click)="helloabcd()">Test</button>-
<button (click) = "Textures1()">Tex-1</button>-
<button (click) = "Textures2()">Tex-2</button>-
<button (click) = "Textures3()">Tex-3</button>-
<button (click) = "Textures4()">Tex-4</button>-
<button (click) = "Textures5()">Tex-5</button>-
<button (click) = "Textures6()">Tex-6</button>-
<button (click) = "Textures7()">Tex-7</button>-
<button (click) = "Textures8()">Tex-8</button>-
<button (click) = "Textures9()">Tex-9</button>-
<button (click) = "Textures10()">Tex-10</button>-
<button (click) = "TexturesOff()">TextureOff</button>

<canvas #canvas id="canvas" type="text/html">
    <!-- <p id="win">Window</p>  -->
</canvas>